.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* position: relative; */
}

.products-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.proceed-link{
    text-decoration: none;
}
.btn-proceed {
    background: #FF9900;
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin: 10px auto;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination{
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    
}
.pgeButtons{
    margin-right: 20px;
    background: orange;
    color: black;
}
.selected{
    background: orangered;
    color: white;
}
.pageNumberSelect{
    /* border: none; */
    background: none;
    font-size: 16px;
    padding-inline: 10px;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
}
.itemsPerPage{
    display: flex;
    gap: 10px;
    align-items: center;
}
.pageNumberSelect option{
    background: #242424;
}